.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-bottom: 10px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
}
.cart-container{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 8px;
}
.btn-cart{
    background-color: #55a81e;
    border-radius:8px;
    border: none;
    margin-right: 5px;
    color: white;
    padding: 10px;
}
.btn-cart p{
    margin-right: 5px;
}
.btn-cart:hover{
    background-color: #54ec18;
}

.btn-cart2{
    background-color: #a8231e;
    border-radius:8px;
    border: none;
    margin-right: 5px;
    color: white;
    padding: 10px;
}
.btn-cart2 p{
    margin-right: 5px;
}
.btn-cart2:hover{
    background-color: #f00f0f;
}
.cart{
    position: sticky;
    top: 0;
}
.cart button{
    margin: 5px;
}

@media only screen and (max-width:687px) {
    .shop-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10px;
    }
    .products-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 20px;
    }
}